# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Raw IBM dataset (39GB - never commit this)
data/ibm-transactions-for-anti-money-laundering-aml/

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Poetry
poetry.lock

